@model Cumulative01.Models.Teacher;

<h1><I> Teacher ID: @Model.TeacherId </I> </h1>
<p><I>Teacher First Name: @Model.TeacherFirstName </I></p>
<p><I>Teacher Last Name: @Model.TeacherLastName </I></p>
<p><I>	Teacher Employee ID: @Model.EmployeeID </I></p>
<p><I>Hired Since: @Model.HireDate </I></p>
<p><I>Salary Package: @Model.Salary </I></p>